.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Push the contact to the right */
.navbar .contact {
    margin-left: auto;
}

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}